# --- Core RAG & LLM ---
llama-index-core
llama-index-llms-llama-cpp
llama-index-embeddings-huggingface
llama-index-readers-file
llama-index-postprocessor-cohere-rerank

# --- Speech & Audio ---
torch
torchvision
torchaudio
whisperx

# --- Backend & API ---
fastapi
uvicorn
requests
pydantic
pydantic-settings
python-dotenv

# --- Image & Video Processing ---
opencv-python
numpy
imageio-ffmpeg

# --- Document Processing ---
pymupdf
python-pptx
python-docx
pywin32

# --- Utils ---
watchfiles
gc-utils
uuid
